* {
  margin: 0;
  padding: 0;
}

/* font */
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* common styles */
.text-underline {
  text-decoration: underline;
}
.width {
  width: 80%;
}
.width-70 {
  width: 70%;
}

.center-margin {
  margin: 0 auto;
}

.main-color {
  color: #e95a08;
}

.sec-color {
  color: #8987a1;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-50px {
  margin-top: 50px;
}

.section-margin {
  margin-top: 120px;
}
.text-center {
  text-align: center;
}
/* navbar */

.navbar {
  width: 80%;
}
.nav-list {
  gap: 20px;
}

.navhome {
  font-weight: 700;
}

/* hero-station */

.hero-section {
  width: 80%;
}

.left-hero {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}
.left-hero img {
  width: 100%;
}

.right-hero {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: end;
}

.heading {
  font-size: 4rem;
  font-weight: 700;
}

.norm-text {
  font-size: 1.375rem;
}

/* plant-head */

.plant-head {
  text-align: center;
}
.plant-norm-text {
  width: 50%;
}

/* cart */
.cart-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.carts {
  text-align: center;
}
.cart-name {
  font-weight: 500;
  font-size: 1.375rem;
  margin-top: 10px;
}

.cart-price {
  font-weight: 700;
  font-size: 1.375rem;
  margin-top: 5px;
}

.cart-btn {
  background-color: #e95a08;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  padding: 20px;
}

.cart-img img {
  width: 100%;
}

/* plant-lover */

.lover-left {
  flex: 1;
  padding: 120px;
}

#lover-store {
  width: 100%;
}

.lover-right {
  flex: 1;
}
.lover-heading {
  font-size: 3.125rem;
  font-weight: 700;
}

.bullets {
  font-size: 1.375rem;
  font-weight: 400;
}

.bullets ul {
  padding: 20px;
  list-style: disc;
  margin-top: 20px;
}

/* deals-container */

.deals-container {
}
.deal-top {
  text-align: center;
}

.deal-head {
  font-size: 3.125rem;
  font-weight: 700;
}

.imgs-box {
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.deals-down {
  gap: 30px;
}

.Bloom {
  background-image: url("assets/deal-bloom.png");
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  font-weight: 600;
  color: white;
}

.Zabo {
  background-image: url("assets/deal-zabo.png");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
  font-size: 3.125rem;
  font-weight: 700;
  color: white;
}
.Ana {
  background-image: url("assets/deal-ana.png");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-weight: 600;
}
.big-par {
  font-size: 1.75rem;
  font-weight: 500;
}
.head-deal {
  font-size: 1.375rem;
  font-weight: 700;
  color: white;
}

.Bloom,
.Ana p {
  font-weight: 600;
  font-size: 1rem;
}
/* Subscribe-section */
.Subscribe-section {
  background-image: url("assets/news-letter-bg.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.sub-head{
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
}
.form-section {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="email"] {
    background-color: white;
    font-size: 1rem;
    color: black;
    padding: 20px;
    width: 30vw;
}
input[type="button"] {
    background-color: #e95a08;
    font-size: 1rem;
    color:white;
    padding: 20px 50px;
    font-weight: 600;
}

.Subscribe-section{
    padding-top: 200px;
    padding-bottom: 200px;
}

@media only screen and (max-width: 576px) {
  .hide {
    display: none;
  }

  .plant-lover,
  .hero-section {
    flex-direction: column;
  }
  .cart-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .deals-down {
    grid-template-columns: repeat(1, 1fr);
  }
  .Bloom,
  .Zabo,
  .Ana {
    height: 20vh;
  }

  .lover-left {
    padding: 20px;
  }

  .fontstylehead {
    font-size: 1.25rem;
    font-weight: 700;
  }

  .fontstylemini {
    font-size: 1rem;
    font-weight: 600;
  }
}
